Repository PositiveTechnologies/PT.PM, pull requests merged in 2018-07, with the labels that each got.

#154 Add combined operators to AssignmentExpression UST
  Sources/PT.PM.AntlrUtils/AntlrConverter.cs
  Sources/PT.PM.CSharpParseTreeUst/Converter/ExpressionVisitor.cs
  Sources/PT.PM.Common/DotFormatUtils.cs
  Sources/PT.PM.Common/Nodes/Expressions/AssignmentExpression.cs
  Sources/PT.PM.Common/Nodes/Tokens/BinaryOperator.cs
  Sources/PT.PM.Common/Nodes/Tokens/Literals/BinaryOperatorLiteral.cs
  Sources/PT.PM.Common/Nodes/Tokens/Literals/UnaryOperatorLiteral.cs
  Sources/PT.PM.Common/Nodes/UstUtils.cs
  Sources/PT.PM.Common/PrettyPrinter.cs
  Sources/PT.PM.Common/TextUtils.cs
  Sources/PT.PM.JavaParseTreeUst/Converter/ExpressionVisitor.cs
  Sources/PT.PM.JavaScriptParseTreeUst/JavaScriptAntlrUstConverterVisitorHelper.cs
  Sources/PT.PM.JavaScriptParseTreeUst/JavaScriptParseTreeConverter.cs
  Sources/PT.PM.PhpParseTreeUst/PhpAntlrParseTreeConverter.cs
  Sources/PT.PM.PhpParseTreeUst/PhpAntlrParseTreeConverterVisitorHelper.cs
  Sources/PT.PM/UstSimplifier.cs
Labels: ust

#157 Pattern modifications
  Sources/PT.PM.Common/Nodes/UstUtils.cs
  Sources/PT.PM.Common/TextUtils.cs
  Sources/PT.PM.Dsl/DslUstConverter.cs
  Sources/PT.PM.Matching.Tests/JavaMatchingTests.cs
  Sources/PT.PM.Matching.Tests/PatternMatchingTests.cs
  Sources/PT.PM.Matching/IPatternVisitor.cs
  Sources/PT.PM.Matching/PatternRoot.cs
  Sources/PT.PM.Matching/PatternVisitor.cs
  Sources/PT.PM.Matching/Patterns/PatternAny.cs
  Sources/PT.PM.Matching/Patterns/PatternAnyExpression.cs
  Sources/PT.PM.Matching/Patterns/PatternNot.cs
  Sources/PT.PM.Matching/Patterns/PatternReturnStatement.cs
  Sources/PT.PM.Matching/Patterns/PatternStringRegexLiteral.cs
  Sources/PT.PM.Matching/Patterns/PatternThrowStatement.cs
  Sources/PT.PM.Matching/Patterns/PatternVarOrFieldDeclaration.cs
  Sources/PT.PM.Patterns/DefaultPatternRepository.cs
  Sources/PT.PM.Patterns/JavaPatterns.cs
  Sources/PT.PM.Patterns/JavaScriptPatterns.cs
  Sources/PT.PM.Patterns/PhpPatterns.cs
  Sources/PT.PM.Tests/PatternTests.cs
Labels: matching, patterns

#164 Logging improvements
  .gitignore
  Sources/PT.PM.AntlrUtils/AntlrParser.cs
  Sources/PT.PM.Cli.Common/CliParameters.cs
  Sources/PT.PM.Cli.Common/CliProcessorBase.cs
  Sources/PT.PM.Cli.Common/ConsoleFileLogger.cs
  Sources/PT.PM.Cli.Common/FileLogger.cs
  Sources/PT.PM.Cli.Common/LoggerUtils.cs
  Sources/PT.PM.Cli.Common/NLogLogger.cs
  Sources/PT.PM.Cli.Common/RepositoryFactory.cs
  Sources/PT.PM.Cli.Common/WorkflowLoggerHelper.cs
  Sources/PT.PM.Cli.Common/WorkflowLoggerHelperBase.cs
  Sources/PT.PM.Cli/NLog.config
  Sources/PT.PM.Cli/PT.PM.Cli.csproj
  Sources/PT.PM.Common/CodeRepository/FileCodeRepository.cs
  Sources/PT.PM.Common/CommonUtils.cs
  Sources/PT.PM.Common/DummyLogger.cs
  Sources/PT.PM.Common/ILogger.cs
  Sources/PT.PM.Common/Json/CodeFileJsonConverter.cs
  Sources/PT.PM.Common/Json/JsonBaseSerializer.cs
  Sources/PT.PM.Common/Json/TextSpanJsonConverter.cs
  Sources/PT.PM.Common/ProgressEventArgs.cs
  Sources/PT.PM.Matching.Tests/CommonMatchingTests.cs
  Sources/PT.PM.Matching/Json/JsonPatternSerializer.cs
  Sources/PT.PM.Matching/MatchResult.cs
  Sources/PT.PM.Matching/MatchResultBase.cs
  Sources/PT.PM.Matching/MatchResultDto.cs
  Sources/PT.PM.Matching/PatternConverter.cs
  Sources/PT.PM.Matching/PatternUtils.cs
  Sources/PT.PM.Matching/PatternsRepository/JsonPatternsRepository.cs
  Sources/PT.PM.PatternEditor/GuiLogger.cs
  Sources/PT.PM.PatternEditor/ViewModels/MainWindowViewModel.cs
  Sources/PT.PM.PhpParseTreeUst/PhpAntlrParser.cs
  Sources/PT.PM.TestUtils/LoggerMessageCounter.cs
  Sources/PT.PM.Tests/SimplifierTests.cs
  Sources/PT.PM/GraphvizGraph.cs
  Sources/PT.PM/LanguageDetector.cs
  Sources/PT.PM/ParserUnitLogger.cs
  Sources/PT.PM/SevenZipExtractor.cs
  Sources/PT.PM/UstSimplifier.cs
  Sources/PT.PM/Utils.cs
  Sources/PT.PM/Workflow.cs
  Sources/PT.PM/WorkflowBase.cs
  Sources/PT.PM/WorkflowResult.cs
  Sources/PT.PM/WorkflowResultBase.cs
  Sources/PT.PM/ZipAtUrlCachingRepository.cs
  Sources/PT.PM/ZipCachingRepository.cs
Labels: cli, logging
