Repository PositiveTechnologies/PT.PM, pull requests merged in 2018-12, with the labels that each got.

#193 Fix operator handling in TSql converter (look for valid TextSpan)
  Sources/PT.PM.TSqlParseTreeUst/TSqlAntlrConverter.cs
Labels: t-sql, ust

#194 Pattern array creation
  Sources/PT.PM.Common/Nodes/Expressions/ArrayCreationExpression.cs
  Sources/PT.PM.Matching/IPatternVisitor.cs
  Sources/PT.PM.Matching/PatternVisitor.cs
  Sources/PT.PM.Matching/Patterns/PatternArrayCreationExpression.cs
  Sources/PT.PM.Tests/UstVisitorTests.cs
Labels: enhancement, matching, patterns

#195 ArrayCreationExpression KeywordNew NPE fix.
  Sources/PT.PM.Common/Nodes/Expressions/ArrayCreationExpression.cs
Labels: bug, patterns

#196 Setting KeywordNew on ArrayCreationExpression when convering C#.
  Sources/PT.PM.CSharpParseTreeUst/Converter/ExpressionVisitor.cs
Labels: c#, enhancement, ust

#197 New operator
  Sources/PT.PM.Common/Nodes/Expressions/ArrayCreationExpression.cs
  Sources/PT.PM.Common/Nodes/Expressions/UnaryOperatorExpression.cs
  Sources/PT.PM.Common/Nodes/Tokens/Literals/UnaryOperatorLiteral.cs
  Sources/PT.PM.Common/Nodes/Tokens/UnaryOperator.cs
  Sources/PT.PM.Common/TextSpan.cs
  Sources/PT.PM.Matching/Patterns/PatternUnaryOperatorExpression.cs
Labels: patterns, ust

#200 Matching even without this keyword as long as it's optional.
  Sources/PT.PM.Matching/Patterns/PatternMemberReferenceExpression.cs
Labels: enhancement, matching
