Repository PositiveTechnologies/PT.PM, pull requests merged in 2019-06, with the labels that each got.

#229 Recording matched UST node in MatchResult.
  Sources/PT.PM.Matching/MatchResult.cs
  Sources/PT.PM.Matching/PatternRoot.cs
Labels: enhancement, matching

#230 Forget freaking constructor use regular method.
  Sources/PT.PM.Matching/MatchResult.cs
Labels: bug, matching

#234 Packages Update
  Sources/PT.PM.CSharpParseTreeUst.Tests/PT.PM.CSharpParseTreeUst.Tests.csproj
  Sources/PT.PM.CSharpParseTreeUst/PT.PM.CSharpParseTreeUst.csproj
  Sources/PT.PM.Cli.Common/PT.PM.Cli.Common.csproj
  Sources/PT.PM.Cli.Tests/PT.PM.Cli.Tests.csproj
  Sources/PT.PM.Common/PT.PM.Common.csproj
  Sources/PT.PM.Dsl.Tests/PT.PM.Dsl.Tests.csproj
  Sources/PT.PM.JavaParseTreeUst.Tests/PT.PM.JavaParseTreeUst.Tests.csproj
  Sources/PT.PM.JavaScriptParseTreeUst.Tests/PT.PM.JavaScriptParseTreeUst.Tests.csproj
  Sources/PT.PM.JavaScriptParseTreeUst/JavaScriptEsprimaParseTreeDeclarationConverter.cs
  Sources/PT.PM.JavaScriptParseTreeUst/JavaScriptEsprimaParseTreeExpressionConverter.cs
  Sources/PT.PM.JavaScriptParseTreeUst/JavaScriptEsprimaParseTreeStatementConverter.cs
  Sources/PT.PM.JavaScriptParseTreeUst/PT.PM.JavaScriptParseTreeUst.csproj
  Sources/PT.PM.Matching.Tests/PT.PM.Matching.Tests.csproj
  Sources/PT.PM.Net.Tests/PT.PM.Net.Tests.csproj
  Sources/PT.PM.PatternEditor/MessageBox.paml.cs
  Sources/PT.PM.PatternEditor/PT.PM.PatternEditor.csproj
  Sources/PT.PM.PatternEditor/Settings.cs
  Sources/PT.PM.PatternEditor/ViewModels/MainWindowViewModel.cs
  Sources/PT.PM.PatternEditor/ViewModels/PatternsViewModel.cs
  Sources/PT.PM.PhpParseTreeUst.Tests/PT.PM.PhpParseTreeUst.Tests.csproj
  Sources/PT.PM.PythonParseTreeUst.Tests/PT.PM.PythonParseTreeUst.Tests.csproj
  Sources/PT.PM.SqlParseTreeUst.Tests/PT.PM.SqlParseTreeUst.Tests.csproj
  Sources/PT.PM.TestUtils/PT.PM.TestUtils.csproj
  Sources/PT.PM.Tests/PT.PM.Tests.csproj
Labels: enhancement
